.git
.gitignore
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/build
public/hot
public/storage
bootstrap/cache/*.php
bootstrap/cache/*.tmp
database/*.sqlite
.phpunit.cache
.phpactor.json
.phpstan
npm-debug.log
*.log
coverage
